* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: hotpink;
  font-size: 16px;
  width: 500px;
  padding: 1rem;
}

button {
  cursor: pointer;
  outline: none;
}

input,
select {
  outline: none;
}

:root {
  --title: hotpink;
  --heading: #27ae60;
  --label: #3498db;
  --light-gray: #d7d7d7;
  --regular-gray: #95a5a6;
  --dark-gray: #444;
  --button-active: hotpink;
  --color-hover: #ffb6c1;
  --element-outline: #95a5a6;
  --select-text: #444;
}

.mdh__title {
  color: var(--title);
  text-transform: uppercase;
}
.mdh__container {
  font-size: 1rem;
  color: var(--regular-gray);
}

.mdh-panel {
  position: relative;
  border: 1px solid var(--regular-gray);
  margin: 1rem 0;
}
.mdh-panel__heading {
  display: flex;
  align-items: center;
  height: 2rem;
  background: white;
  padding: 0.5rem 1rem;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--regular-gray);
}

.mdh-row__container {
  margin: 1rem 0;
  padding: 0 1rem;
  min-height: 2rem;
}

.mdh-row__heading {
  color: var(--heading);
}

.mdh-cell--heading {
  color: var(--heading);
}
.mdh-cell--label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--label);
  margin-bottom: 0.25rem;
}
.mdh-cell--value {
  height: 1rem;
}

.mdh-cell--buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* SELECT */
.mdh-select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  height: 2rem;
  padding: 0 3rem 0 1rem;
  border-radius: 0;
  border: 1px solid var(--element-outline);
  font-weight: 400;
  color: var(--select-text);
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--select-text);
}
.mdh-select:focus {
  border: 1px solid var(--button-active);
}

/* INPUT */
.mdh-input {
  height: 2rem;
  min-width: 15rem;
  width: 100%;
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--regular-gray);
  border: 1px solid var(--regular-gray);
}

.mdh-input:focus {
  border: 1px solid var(--button-active);
}

.mdh-input--adjust {
  width: 5rem;
  min-width: initial;
}

/* BUTTON */
.mdh-button {
  height: 2rem;
  border: 1px solid var(--light-gray);
  background-color: white;
  color: var(--light-gray);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.33rem 1rem;
  margin-right: 0.5rem;
}

.mdh-button:hover {
  border: 1px solid var(--color-hover);
  color: var(--color-hover);
}

.mdh-button--active,
.mdh-button--active:hover,
.mdh-button:focus {
  border: 1px solid var(--button-active);
  color: var(--button-active);
}
